{
    "plugins": [
      ["prismjs", {
        "languages": ["javascript", "css", "html", "python", "php", "ruby", "java", "c", "c#", "c++"],
        "plugins": ["line-numbers", "show-language"],
        "theme": "dracula",
        "css": true
      }]
    ]
  }