{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "typescript",
          "tsx",
          "jsx",
          "go",
          "json",
          "css",
          "html",
          "python",
          "php",
          "ruby",
          "java",
          "c",
          "csharp",
          "cpp"
        ],
        "plugins": ["line-numbers", "show-language"],
        "css": true
      }
    ]
  ]
}
