{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "typescript",
          "tsx",
          "javascript",
          "jsx",
          "python",
          "bash",
          "json",
          "html",
          "xml",
          "svg",
          "yaml",
          "css",
          "sass",
          "md",
          "mongodb",
          "sql",
          "c",
          "cpp",
          "csharp",
          "java",
          "scala",
          "kotlin",
          "swift",
          "go",
          "rust",
          "ruby",
          "php"
        ],
        "plugins": [
          "line-numbers",
          "show-language",
          "toolbar",
          "copy-to-clipboard",
          "inline-color"
        ],
        "css": true
      }
    ]
  ]
}
