.comment-tag-userlink {
  line-height: 22px;
  max-height: 22px;
}
.comment-tag-userlink:active {
  text-decoration: none;
}
.comment-tag-userlink:hover {
  text-decoration: underline;
}
.comment-internal-spacer {
  height: 2px;
}
.comment-spacer {
  height: 10px;
}
