.menu-root {
  background-color: #1e1e1e;
}
.menu-search {
  height: 39px;
}
.menu-search-chip {
  height: 24px !important;
  min-width: 48px !important;
}
.menu-bottom {
  background-color: #1e1e1e;
}
