.sidebar-catlink:hover {
    color: #fbc308 !important;
}

.sidebar-catlink {
    display: inline-block;
    line-height: 35px;
}

.sidebar-menu-btn {
    height: 40px;
    width: 40px;
}

.sidebar-box {
    width: 250px;
}
