.signup-root {
  min-height: 100vh;
}

.signup-main-box {
  min-height: 50vh;
}

.signup-main-div {
  margin: 50px;
}

.signup-btn {
  height: 40px;
}

.signup-sex-form {
  min-width: 200px !important;
}
