.register-root {
    min-height: 100vh;
}

.register-main-box {
    min-height: 50vh;
}

.register-main-div {
    margin: 50px;
}

.register-btn {
    height: 40px;
}

.register-sex-form {
    min-width: 200px !important;
}
