.font-size-0 {
  font-size: 0px;
}
.font-size-1 {
  font-size: 1px;
}
.font-size-2 {
  font-size: 2px;
}
.font-size-3 {
  font-size: 3px;
}
.font-size-4 {
  font-size: 4px;
}
.font-size-5 {
  font-size: 5px;
}
.font-size-6 {
  font-size: 6px;
}
.font-size-7 {
  font-size: 7px;
}
.font-size-8 {
  font-size: 8px;
}
.font-size-9 {
  font-size: 9px;
}
.font-size-10 {
  font-size: 10px;
}
.font-size-11 {
  font-size: 11px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-13 {
  font-size: 13px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-17 {
  font-size: 17px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-19 {
  font-size: 19px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-21 {
  font-size: 21px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-23 {
  font-size: 23px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-25 {
  font-size: 25px;
}
.font-size-26 {
  font-size: 26px;
}
.font-size-27 {
  font-size: 27px;
}
.font-size-28 {
  font-size: 28px;
}
.font-size-29 {
  font-size: 29px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-31 {
  font-size: 31px;
}
.font-size-32 {
  font-size: 32px;
}
.font-size-33 {
  font-size: 33px;
}
.font-size-34 {
  font-size: 34px;
}
.font-size-35 {
  font-size: 35px;
}
.font-size-36 {
  font-size: 36px;
}
.font-size-37 {
  font-size: 37px;
}
.font-size-38 {
  font-size: 38px;
}
.font-size-39 {
  font-size: 39px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-41 {
  font-size: 41px;
}
.font-size-42 {
  font-size: 42px;
}
.font-size-43 {
  font-size: 43px;
}
.font-size-44 {
  font-size: 44px;
}
.font-size-45 {
  font-size: 45px;
}
.font-size-46 {
  font-size: 46px;
}
.font-size-47 {
  font-size: 47px;
}
.font-size-48 {
  font-size: 48px;
}
.font-size-49 {
  font-size: 49px;
}
.font-size-50 {
  font-size: 50px;
}
.font-size-0-force {
  font-size: 0px !important;
}
.font-size-1-force {
  font-size: 1px !important;
}
.font-size-2-force {
  font-size: 2px !important;
}
.font-size-3-force {
  font-size: 3px !important;
}
.font-size-4-force {
  font-size: 4px !important;
}
.font-size-5-force {
  font-size: 5px !important;
}
.font-size-6-force {
  font-size: 6px !important;
}
.font-size-7-force {
  font-size: 7px !important;
}
.font-size-8-force {
  font-size: 8px !important;
}
.font-size-9-force {
  font-size: 9px !important;
}
.font-size-10-force {
  font-size: 10px !important;
}
.font-size-11-force {
  font-size: 11px !important;
}
.font-size-12-force {
  font-size: 12px !important;
}
.font-size-13-force {
  font-size: 13px !important;
}
.font-size-14-force {
  font-size: 14px !important;
}
.font-size-15-force {
  font-size: 15px !important;
}
.font-size-16-force {
  font-size: 16px !important;
}
.font-size-17-force {
  font-size: 17px !important;
}
.font-size-18-force {
  font-size: 18px !important;
}
.font-size-19-force {
  font-size: 19px !important;
}
.font-size-20-force {
  font-size: 20px !important;
}
.font-size-21-force {
  font-size: 21px !important;
}
.font-size-22-force {
  font-size: 22px !important;
}
.font-size-23-force {
  font-size: 23px !important;
}
.font-size-24-force {
  font-size: 24px !important;
}
.font-size-25-force {
  font-size: 25px !important;
}
.font-size-26-force {
  font-size: 26px !important;
}
.font-size-27-force {
  font-size: 27px !important;
}
.font-size-28-force {
  font-size: 28px !important;
}
.font-size-29-force {
  font-size: 29px !important;
}
.font-size-30-force {
  font-size: 30px !important;
}
.font-size-31-force {
  font-size: 31px !important;
}
.font-size-32-force {
  font-size: 32px !important;
}
.font-size-33-force {
  font-size: 33px !important;
}
.font-size-34-force {
  font-size: 34px !important;
}
.font-size-35-force {
  font-size: 35px !important;
}
.font-size-36-force {
  font-size: 36px !important;
}
.font-size-37-force {
  font-size: 37px !important;
}
.font-size-38-force {
  font-size: 38px !important;
}
.font-size-39-force {
  font-size: 39px !important;
}
.font-size-40-force {
  font-size: 40px !important;
}
.font-size-41-force {
  font-size: 41px !important;
}
.font-size-42-force {
  font-size: 42px !important;
}
.font-size-43-force {
  font-size: 43px !important;
}
.font-size-44-force {
  font-size: 44px !important;
}
.font-size-45-force {
  font-size: 45px !important;
}
.font-size-46-force {
  font-size: 46px !important;
}
.font-size-47-force {
  font-size: 47px !important;
}
.font-size-48-force {
  font-size: 48px !important;
}
.font-size-49-force {
  font-size: 49px !important;
}
.font-size-50-force {
  font-size: 50px !important;
}
