#copy this file to .env
DB_URI=mongodb://password:username@127.0.0.1 #mongodb connection string
REACT_APP_hcaptchasitekey=<hcaptcha-site-key> #hcaptcha site key
REACT_APP_build=v0.5.5rc3 #build version
REACT_APP_categories={"1":"Chit-chat","2":"Stories","3":"School","4":"Admin","5":"Leisure","6":"IT"}
# not neccesary, but you MUST import server/category.json to mongodb/metahkg-threads/category